/*
F8B230

*/


@font-face {
	font-family: "default";
	src: url('../font/KRONIKA_.ttf');
}

*, html, body, div, a, img, textarea, input, select {
	box-sizing:border-box;
	font-family: "default", sans-serif;
}

*:focus {
    outline: none;
}

body {
    /*font-size:14px;*/
    /*font-size:3.7vh;  set par js */
    color:#666;
    background-color:transparent;
}



@keyframes opacitychange{
  0%, 100%{
    opacity: 0;
  }

  60%{
    opacity: 1;
  }
}
.loaderfadeout {
    opacity:0 !important;
}

.cellchoice {
	display:block;
	width:50px;
	height:50px;
	background-color:rgba(0,0,0,.3);
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}
.cellchoice.selected {
	background-color:rgba(255,255,255,.95);
}